
@model IEnumerable<WishList.Models.Item>

<h1>Wishlist</h1>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Description <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></li>
    }
</ul>
